openapi: 3.2.0
info:
  title: TIBCO Spotfire Analytics Scheduled Updates API
  description: Analytics and data visualization REST API for TIBCO Spotfire Server. Provides programmatic access to manage analysis files, library items, data sources, users, groups, and scheduled tasks for embedded analytics and automated reporting workflows.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://spotfire.cloud.tibco.com/api/rest/v1
  description: TIBCO Spotfire Cloud Production
- url: https://{spotfire-server}/spotfire/api/rest/v1
  description: TIBCO Spotfire Server On-Premise
  variables:
    spotfire-server:
      default: localhost
      description: On-premise Spotfire Server hostname
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Scheduled Updates
  description: Manage scheduled analysis updates
paths:
  /scheduled-updates:
    get:
      operationId: listScheduledUpdates
      summary: List scheduled updates
      description: Retrieve all scheduled analysis update tasks.
      tags:
      - Scheduled Updates
      responses:
        '200':
          description: List of scheduled updates
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScheduledUpdate'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createScheduledUpdate
      summary: Create a scheduled update
      description: Create a new scheduled update task for an analysis.
      tags:
      - Scheduled Updates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledUpdateRequest'
      responses:
        '201':
          description: Scheduled update created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledUpdate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scheduled-updates/{updateId}:
    get:
      operationId: getScheduledUpdate
      summary: Get a scheduled update
      description: Retrieve details of a specific scheduled update task.
      tags:
      - Scheduled Updates
      parameters:
      - $ref: '#/components/parameters/updateId'
      responses:
        '200':
          description: Scheduled update details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledUpdate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteScheduledUpdate
      summary: Delete a scheduled update
      description: Delete a scheduled update task.
      tags:
      - Scheduled Updates
      parameters:
      - $ref: '#/components/parameters/updateId'
      responses:
        '204':
          description: Scheduled update deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    CreateScheduledUpdateRequest:
      type: object
      required:
      - analysisId
      - schedule
      properties:
        analysisId:
          type: string
          format: uuid
        schedule:
          type: object
          required:
          - frequency
          - startTime
          properties:
            frequency:
              type: string
              enum:
              - once
              - daily
              - weekly
              - monthly
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
            interval:
              type: integer
        enabled:
          type: boolean
          default: true
    ScheduledUpdate:
      type: object
      properties:
        id:
          type: string
          description: Scheduled update unique identifier
        analysisId:
          type: string
          format: uuid
          description: Target analysis ID
        analysisPath:
          type: string
          description: Target analysis library path
        schedule:
          type: object
          properties:
            frequency:
              type: string
              enum:
              - once
              - daily
              - weekly
              - monthly
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
            interval:
              type: integer
              description: Interval between runs
          description: Update schedule configuration
        enabled:
          type: boolean
          description: Whether the scheduled update is enabled
        lastRunTime:
          type: string
          format: date-time
          description: When the update last ran
        lastRunStatus:
          type: string
          enum:
          - success
          - failure
          - running
          description: Last run status
  parameters:
    updateId:
      name: updateId
      in: path
      required: true
      description: Scheduled update unique identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for Spotfire API access
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication for on-premise Spotfire Server
externalDocs:
  description: TIBCO Spotfire Server API Documentation
  url: https://docs.tibco.com/pub/spotfire_server/latest/doc/api/TIB_sfire_server_tsas_admin_api/index.html
