openapi: 3.2.0
info:
  title: TIBCO Spotfire Analytics Nodes API
  description: Analytics and data visualization REST API for TIBCO Spotfire Server. Provides programmatic access to manage analysis files, library items, data sources, users, groups, and scheduled tasks for embedded analytics and automated reporting workflows.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://spotfire.cloud.tibco.com/api/rest/v1
  description: TIBCO Spotfire Cloud Production
- url: https://{spotfire-server}/spotfire/api/rest/v1
  description: TIBCO Spotfire Server On-Premise
  variables:
    spotfire-server:
      default: localhost
      description: On-premise Spotfire Server hostname
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Nodes
  description: Manage Spotfire Server nodes and services
paths:
  /nodes:
    get:
      operationId: listNodes
      summary: List server nodes
      description: Retrieve all Spotfire Server nodes and their status.
      tags:
      - Nodes
      responses:
        '200':
          description: List of server nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Node:
      type: object
      properties:
        id:
          type: string
          description: Node unique identifier
        hostName:
          type: string
          description: Server hostname
        port:
          type: integer
          description: Server port
        status:
          type: string
          enum:
          - online
          - offline
          - degraded
          description: Node status
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
                enum:
                - running
                - stopped
                - error
          description: Services running on this node
        startTime:
          type: string
          format: date-time
          description: When the node was started
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for Spotfire API access
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication for on-premise Spotfire Server
externalDocs:
  description: TIBCO Spotfire Server API Documentation
  url: https://docs.tibco.com/pub/spotfire_server/latest/doc/api/TIB_sfire_server_tsas_admin_api/index.html
