openapi: 3.2.0
info:
  title: TIBCO Spotfire Analytics Analyses API
  description: Analytics and data visualization REST API for TIBCO Spotfire Server. Provides programmatic access to manage analysis files, library items, data sources, users, groups, and scheduled tasks for embedded analytics and automated reporting workflows.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://spotfire.cloud.tibco.com/api/rest/v1
  description: TIBCO Spotfire Cloud Production
- url: https://{spotfire-server}/spotfire/api/rest/v1
  description: TIBCO Spotfire Server On-Premise
  variables:
    spotfire-server:
      default: localhost
      description: On-premise Spotfire Server hostname
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Analyses
  description: Manage Spotfire analysis files
paths:
  /analyses:
    get:
      operationId: listAnalyses
      summary: List analyses
      description: Retrieve all Spotfire analysis files accessible to the authenticated user.
      tags:
      - Analyses
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of analyses
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Analysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /analyses/{analysisId}:
    get:
      operationId: getAnalysis
      summary: Get an analysis
      description: Retrieve details and metadata of a specific analysis file.
      tags:
      - Analyses
      parameters:
      - $ref: '#/components/parameters/analysisId'
      responses:
        '200':
          description: Analysis details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /analyses/{analysisId}/export:
    post:
      operationId: exportAnalysis
      summary: Export an analysis
      description: Export an analysis to a specified format (PDF, image, data).
      tags:
      - Analyses
      parameters:
      - $ref: '#/components/parameters/analysisId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Exported content
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    ExportRequest:
      type: object
      required:
      - format
      properties:
        format:
          type: string
          enum:
          - pdf
          - png
          - jpg
          - csv
          - xlsx
          description: Export format
        pageIndex:
          type: integer
          description: Specific page to export (0-based index)
        width:
          type: integer
          description: Export width in pixels (for image formats)
        height:
          type: integer
          description: Export height in pixels (for image formats)
    Analysis:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the analysis
        title:
          type: string
          description: Analysis title
        description:
          type: string
          description: Analysis description
        path:
          type: string
          description: Library path of the analysis
        version:
          type: string
          description: Analysis version
        pages:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
          description: Analysis pages
        dataTables:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              rowCount:
                type: integer
              columnCount:
                type: integer
          description: Data tables within the analysis
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          type: string
        modifiedDate:
          type: string
          format: date-time
  parameters:
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    analysisId:
      name: analysisId
      in: path
      required: true
      description: Analysis unique identifier (GUID)
      schema:
        type: string
        format: uuid
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for Spotfire API access
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication for on-premise Spotfire Server
externalDocs:
  description: TIBCO Spotfire Server API Documentation
  url: https://docs.tibco.com/pub/spotfire_server/latest/doc/api/TIB_sfire_server_tsas_admin_api/index.html
