openapi: 3.1.0
info:
  title: TIBCO BusinessEvents Agents Deployments API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deploy and manage running app instances
paths:
  /apps/{appId}/push:
    post:
      operationId: deployApp
      summary: Deploy an integration app
      description: Push and deploy an integration application to the specified environment.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/appId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '200':
          description: Deployment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /deployments:
    get:
      operationId: listDeployments
      summary: List deployments
      description: Retrieve all active deployments across the organization.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /deployments/{deploymentId}:
    get:
      operationId: getDeployment
      summary: Get a deployment
      description: Retrieve details and status of a specific deployment.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/deploymentId'
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: undeployApp
      summary: Undeploy an app
      description: Stop and remove a running deployment.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/deploymentId'
      responses:
        '204':
          description: Deployment removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /deployments/{deploymentId}/scale:
    post:
      operationId: scaleDeployment
      summary: Scale a deployment
      description: Scale the number of instances for a running deployment.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/deploymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceCount
              properties:
                instanceCount:
                  type: integer
                  minimum: 1
                  description: Desired number of instances
      responses:
        '200':
          description: Deployment scaled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    appId:
      name: appId
      in: path
      required: true
      description: Integration app unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    deploymentId:
      name: deploymentId
      in: path
      required: true
      description: Deployment unique identifier
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found
    BadRequest:
      description: The request body or parameters are invalid
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    Deployment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deployment
        appId:
          type: string
          description: Associated app ID
        appName:
          type: string
          description: Name of the deployed app
        environmentId:
          type: string
          description: Target environment ID
        status:
          type: string
          enum:
          - deploying
          - running
          - stopped
          - failed
          description: Deployment status
        instanceCount:
          type: integer
          description: Number of running instances
        endpoint:
          type: string
          format: uri
          description: Deployed app endpoint URL
        createdTime:
          type: string
          format: date-time
          description: When the deployment was created
        modifiedTime:
          type: string
          format: date-time
          description: When the deployment was last modified
    DeployRequest:
      type: object
      properties:
        environmentId:
          type: string
          description: Target environment for deployment
        instanceCount:
          type: integer
          minimum: 1
          default: 1
          description: Number of instances to deploy
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
