openapi: 3.2.0
info:
  title: TIBCO Cloud Integration Apps API
  description: API for TIBCO Cloud Integration (TCI) platform enabling application integration, API management, and business process automation. Provides programmatic access to manage Flogo apps, Business Studio apps, connections, and deployment environments.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (US)
- url: https://eu.integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (EU)
security:
- bearerAuth: []
tags:
- name: Apps
  description: Manage integration applications
paths:
  /apps:
    get:
      operationId: listApps
      summary: List integration apps
      description: Retrieve a list of all integration applications in the organization, including Flogo and Business Studio apps.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - name: filter
        in: query
        description: Filter expression for app name or type
        schema:
          type: string
      responses:
        '200':
          description: List of integration apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of apps matching the query
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createApp
      summary: Create an integration app
      description: Create a new integration application by uploading a Flogo JSON manifest or importing from a template.
      tags:
      - Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '201':
          description: App created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /apps/{appId}:
    get:
      operationId: getApp
      summary: Get an integration app
      description: Retrieve details of a specific integration application by ID.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/appId'
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateApp
      summary: Update an integration app
      description: Update an existing integration application configuration.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/appId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '200':
          description: App updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteApp
      summary: Delete an integration app
      description: Delete an integration application and its associated resources.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/appId'
      responses:
        '204':
          description: App deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /apps/{appId}/export:
    get:
      operationId: exportApp
      summary: Export an integration app
      description: Export an integration application as a JSON manifest file.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/appId'
      responses:
        '200':
          description: App export data
          content:
            application/json:
              schema:
                type: object
                description: Flogo app manifest JSON
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    appId:
      name: appId
      in: path
      required: true
      description: Integration app unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  schemas:
    UpdateAppRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated app name
        description:
          type: string
          description: Updated description
    CreateAppRequest:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: Name for the new app
          minLength: 1
          maxLength: 256
        description:
          type: string
          description: Description of the app
        type:
          type: string
          enum:
          - flogo
          - businessworks
          - node
          description: Integration app type
    App:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the app
        name:
          type: string
          description: Name of the integration app
        description:
          type: string
          description: Description of the app
        type:
          type: string
          enum:
          - flogo
          - businessworks
          - node
          description: Integration app type
        status:
          type: string
          enum:
          - draft
          - running
          - stopped
          - error
          description: Current status of the app
        createdTime:
          type: string
          format: date-time
          description: When the app was created
        modifiedTime:
          type: string
          format: date-time
          description: When the app was last modified
        createdBy:
          type: string
          description: User who created the app
        version:
          type: string
          description: App version
  responses:
    NotFound:
      description: The requested resource was not found
    BadRequest:
      description: The request body or parameters are invalid
    Unauthorized:
      description: Authentication credentials are missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from TIBCO Cloud authentication
externalDocs:
  description: TIBCO Cloud Integration Documentation
  url: https://integration.cloud.tibco.com/docs/
