openapi: 3.2.0
info:
  title: TIBCO Spotfire Analytics Data Sources API
  description: Analytics and data visualization REST API for TIBCO Spotfire Server. Provides programmatic access to manage analysis files, library items, data sources, users, groups, and scheduled tasks for embedded analytics and automated reporting workflows.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://spotfire.cloud.tibco.com/api/rest/v1
  description: TIBCO Spotfire Cloud Production
- url: https://{spotfire-server}/spotfire/api/rest/v1
  description: TIBCO Spotfire Server On-Premise
  variables:
    spotfire-server:
      default: localhost
      description: On-premise Spotfire Server hostname
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Data Sources
  description: Manage data source connections
paths:
  /datasources:
    get:
      operationId: listDataSources
      summary: List data sources
      description: Retrieve all configured data source connections.
      tags:
      - Data Sources
      responses:
        '200':
          description: List of data sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDataSource
      summary: Create a data source
      description: Create a new data source connection.
      tags:
      - Data Sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataSourceRequest'
      responses:
        '201':
          description: Data source created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /datasources/{dataSourceId}:
    get:
      operationId: getDataSource
      summary: Get a data source
      description: Retrieve details of a specific data source connection.
      tags:
      - Data Sources
      parameters:
      - $ref: '#/components/parameters/dataSourceId'
      responses:
        '200':
          description: Data source details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDataSource
      summary: Delete a data source
      description: Delete a data source connection.
      tags:
      - Data Sources
      parameters:
      - $ref: '#/components/parameters/dataSourceId'
      responses:
        '204':
          description: Data source deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    dataSourceId:
      name: dataSourceId
      in: path
      required: true
      description: Data source unique identifier
      schema:
        type: string
  schemas:
    CreateDataSourceRequest:
      type: object
      required:
      - name
      - type
      - connectionString
      properties:
        name:
          type: string
          description: Data source name
        type:
          type: string
          enum:
          - database
          - file
          - web-service
          - information-link
          - custom
        connectionString:
          type: string
          description: Connection string
        provider:
          type: string
          description: Database provider name
        username:
          type: string
          description: Connection username
        password:
          type: string
          format: password
          description: Connection password
    DataSource:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the data source
        name:
          type: string
          description: Data source name
        type:
          type: string
          enum:
          - database
          - file
          - web-service
          - information-link
          - custom
          description: Data source type
        connectionString:
          type: string
          description: Connection string (masked)
        provider:
          type: string
          description: Database provider name
        status:
          type: string
          enum:
          - connected
          - disconnected
          - error
          description: Data source connection status
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for Spotfire API access
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication for on-premise Spotfire Server
externalDocs:
  description: TIBCO Spotfire Server API Documentation
  url: https://docs.tibco.com/pub/spotfire_server/latest/doc/api/TIB_sfire_server_tsas_admin_api/index.html
