openapi: 3.1.0
info:
  title: TIBCO BusinessEvents Agents Packages API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Packages
  description: Manage API packages for bundling services
paths:
  /rest/packages:
    get:
      operationId: listPackages
      summary: List packages
      description: Retrieve all API packages for the organization.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: List of packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPackage
      summary: Create a package
      description: Create a new API package for bundling services.
      tags:
      - Packages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '200':
          description: Package created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rest/packages/{packageId}:
    get:
      operationId: getPackage
      summary: Get a package
      description: Retrieve details of a specific API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Package details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updatePackage
      summary: Update a package
      description: Update an existing API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '200':
          description: Package updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deletePackage
      summary: Delete a package
      description: Delete an API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      responses:
        '200':
          description: Package deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found
    BadRequest:
      description: The request body or parameters are invalid
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    packageId:
      name: packageId
      in: path
      required: true
      description: Package unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 20
  schemas:
    Package:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the package
        name:
          type: string
          description: Package name
        description:
          type: string
          description: Package description
        notifyDeveloperPeriod:
          type: string
          description: Period for developer notifications
        notifyDeveloperNearQuota:
          type: boolean
          description: Whether to notify when near quota
        notifyDeveloperOverQuota:
          type: boolean
          description: Whether to notify when over quota
        notifyAdminPeriod:
          type: string
        notifyAdminNearQuota:
          type: boolean
        notifyAdminOverQuota:
          type: boolean
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
    CreatePackageRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Package name
        description:
          type: string
        notifyDeveloperNearQuota:
          type: boolean
        notifyDeveloperOverQuota:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
