openapi: 3.1.0
info:
  title: TIBCO BusinessEvents Agents Groups API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Groups
  description: Manage user groups
paths:
  /groups:
    get:
      operationId: listGroups
      summary: List groups
      description: Retrieve all user groups on the Spotfire Server.
      tags:
      - Groups
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createGroup
      summary: Create a group
      description: Create a new user group.
      tags:
      - Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /groups/{groupId}:
    get:
      operationId: getGroup
      summary: Get a group
      description: Retrieve details of a specific user group.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/groupId'
      responses:
        '200':
          description: Group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteGroup
      summary: Delete a group
      description: Delete a user group.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/groupId'
      responses:
        '204':
          description: Group deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups/{groupId}/members:
    get:
      operationId: listGroupMembers
      summary: List group members
      description: Retrieve all members of a specific group.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/groupId'
      responses:
        '200':
          description: List of group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addGroupMember
      summary: Add a member to a group
      description: Add a user to a specific group.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/groupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userId
              properties:
                userId:
                  type: string
                  description: User ID to add to the group
      responses:
        '200':
          description: Member added to group
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: User unique identifier
        userName:
          type: string
          description: Username
        displayName:
          type: string
          description: User display name
        email:
          type: string
          format: email
          description: User email address
        enabled:
          type: boolean
          description: Whether the user account is enabled
        lastLoginDate:
          type: string
          format: date-time
          description: When the user last logged in
        groups:
          type: array
          items:
            type: string
          description: Group names the user belongs to
    CreateGroupRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Group name
          minLength: 1
        description:
          type: string
          description: Group description
    Group:
      type: object
      properties:
        id:
          type: string
          description: Group unique identifier
        name:
          type: string
          description: Group name
        description:
          type: string
          description: Group description
        memberCount:
          type: integer
          description: Number of members in the group
        createdDate:
          type: string
          format: date-time
  parameters:
    groupId:
      name: groupId
      in: path
      required: true
      description: Group unique identifier
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found
    BadRequest:
      description: The request body or parameters are invalid
    Unauthorized:
      description: Authentication credentials are missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
