openapi: 3.2.0
info:
  title: TIBCO Cloud Integration Connections API
  description: API for TIBCO Cloud Integration (TCI) platform enabling application integration, API management, and business process automation. Provides programmatic access to manage Flogo apps, Business Studio apps, connections, and deployment environments.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (US)
- url: https://eu.integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (EU)
security:
- bearerAuth: []
tags:
- name: Connections
  description: Manage connector connections
paths:
  /connections:
    get:
      operationId: listConnections
      summary: List connections
      description: Retrieve all configured connector connections for the organization.
      tags:
      - Connections
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createConnection
      summary: Create a connection
      description: Create a new connector connection with the specified configuration.
      tags:
      - Connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /connections/{connectionId}:
    get:
      operationId: getConnection
      summary: Get a connection
      description: Retrieve details of a specific connection by ID.
      tags:
      - Connections
      parameters:
      - $ref: '#/components/parameters/connectionId'
      responses:
        '200':
          description: Connection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteConnection
      summary: Delete a connection
      description: Delete a connector connection by ID.
      tags:
      - Connections
      parameters:
      - $ref: '#/components/parameters/connectionId'
      responses:
        '204':
          description: Connection deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    connectionId:
      name: connectionId
      in: path
      required: true
      description: Connection unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  schemas:
    CreateConnectionRequest:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: Connection display name
        type:
          type: string
          description: Connector type
        configuration:
          type: object
          additionalProperties: true
          description: Connector-specific configuration
    Connection:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the connection
        name:
          type: string
          description: Connection display name
        type:
          type: string
          description: Connector type (e.g., REST, Database, Salesforce)
        status:
          type: string
          enum:
          - connected
          - disconnected
          - error
          description: Connection health status
        configuration:
          type: object
          additionalProperties: true
          description: Connector-specific configuration properties
        createdTime:
          type: string
          format: date-time
          description: When the connection was created
        modifiedTime:
          type: string
          format: date-time
          description: When the connection was last modified
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from TIBCO Cloud authentication
externalDocs:
  description: TIBCO Cloud Integration Documentation
  url: https://integration.cloud.tibco.com/docs/
