openapi: 3.2.0
info:
  title: TIBCO Mashery API Management Applications API
  description: API management platform for designing, building, securing, and analyzing APIs. The Mashery V3 API provides programmatic access to manage API definitions, packages, plans, keys, services, endpoints, and analytics data within the TIBCO API management platform.
  version: '3.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.mashery.com/v3
  description: Mashery API v3 Production
security:
- oauth2: []
tags:
- name: Applications
  description: Manage developer applications
paths:
  /rest/applications:
    get:
      operationId: listApplications
      summary: List applications
      description: Retrieve all registered developer applications.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: List of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rest/applications/{applicationId}:
    get:
      operationId: getApplication
      summary: Get an application
      description: Retrieve details of a specific developer application.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    applicationId:
      name: applicationId
      in: path
      required: true
      description: Application unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 20
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
  schemas:
    Key:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the key
        apikey:
          type: string
          description: API key value
        secret:
          type: string
          description: API key secret
        status:
          type: string
          enum:
          - active
          - waiting
          - disabled
          description: Key status
        rateLimitCeiling:
          type: integer
        qpsLimitCeiling:
          type: integer
        created:
          type: string
          format: date-time
    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the application
        name:
          type: string
          description: Application name
        description:
          type: string
          description: Application description
        username:
          type: string
          description: Owner username
        isPackaged:
          type: boolean
          description: Whether the application uses package keys
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Key'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mashery.com/v3/token
          scopes: {}
      description: OAuth 2.0 client credentials for Mashery API access
externalDocs:
  description: TIBCO Mashery API Documentation
  url: https://developer.mashery.com/docs
