openapi: 3.2.0
info:
  title: TIBCO Mashery API Management Packages API
  description: API management platform for designing, building, securing, and analyzing APIs. The Mashery V3 API provides programmatic access to manage API definitions, packages, plans, keys, services, endpoints, and analytics data within the TIBCO API management platform.
  version: '3.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.mashery.com/v3
  description: Mashery API v3 Production
security:
- oauth2: []
tags:
- name: Packages
  description: Manage API packages for bundling services
paths:
  /rest/packages:
    get:
      operationId: listPackages
      summary: List packages
      description: Retrieve all API packages for the organization.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: List of packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPackage
      summary: Create a package
      description: Create a new API package for bundling services.
      tags:
      - Packages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '200':
          description: Package created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rest/packages/{packageId}:
    get:
      operationId: getPackage
      summary: Get a package
      description: Retrieve details of a specific API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Package details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updatePackage
      summary: Update a package
      description: Update an existing API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '200':
          description: Package updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deletePackage
      summary: Delete a package
      description: Delete an API package.
      tags:
      - Packages
      parameters:
      - $ref: '#/components/parameters/packageId'
      responses:
        '200':
          description: Package deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    CreatePackageRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Package name
        description:
          type: string
        notifyDeveloperNearQuota:
          type: boolean
        notifyDeveloperOverQuota:
          type: boolean
    Package:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the package
        name:
          type: string
          description: Package name
        description:
          type: string
          description: Package description
        notifyDeveloperPeriod:
          type: string
          description: Period for developer notifications
        notifyDeveloperNearQuota:
          type: boolean
          description: Whether to notify when near quota
        notifyDeveloperOverQuota:
          type: boolean
          description: Whether to notify when over quota
        notifyAdminPeriod:
          type: string
        notifyAdminNearQuota:
          type: boolean
        notifyAdminOverQuota:
          type: boolean
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
  parameters:
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
    packageId:
      name: packageId
      in: path
      required: true
      description: Package unique identifier
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 20
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mashery.com/v3/token
          scopes: {}
      description: OAuth 2.0 client credentials for Mashery API access
externalDocs:
  description: TIBCO Mashery API Documentation
  url: https://developer.mashery.com/docs
