openapi: 3.1.0
info:
  title: TIBCO BusinessEvents Agents Applications API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Applications
  description: Manage developer applications
paths:
  /rest/applications:
    get:
      operationId: listApplications
      summary: List applications
      description: Retrieve all registered developer applications.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: List of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rest/applications/{applicationId}:
    get:
      operationId: getApplication
      summary: Get an application
      description: Retrieve details of a specific developer application.
      tags:
      - Applications
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    applicationId:
      name: applicationId
      in: path
      required: true
      description: Application unique identifier
      schema:
        type: string
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 20
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
  schemas:
    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the application
        name:
          type: string
          description: Application name
        description:
          type: string
          description: Application description
        username:
          type: string
          description: Owner username
        isPackaged:
          type: boolean
          description: Whether the application uses package keys
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Key'
    Key:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the key
        apikey:
          type: string
          description: API key value
        secret:
          type: string
          description: API key secret
        status:
          type: string
          enum:
          - active
          - waiting
          - disabled
          description: Key status
        rateLimitCeiling:
          type: integer
        qpsLimitCeiling:
          type: integer
        created:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
