openapi: 3.2.0
info:
  title: TIBCO Mashery API Management Members API
  description: API management platform for designing, building, securing, and analyzing APIs. The Mashery V3 API provides programmatic access to manage API definitions, packages, plans, keys, services, endpoints, and analytics data within the TIBCO API management platform.
  version: '3.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.mashery.com/v3
  description: Mashery API v3 Production
security:
- oauth2: []
tags:
- name: Members
  description: Manage developer portal members
paths:
  /rest/members:
    get:
      operationId: listMembers
      summary: List portal members
      description: Retrieve all developer portal members.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rest/members/{memberId}:
    get:
      operationId: getMember
      summary: Get a portal member
      description: Retrieve details of a specific developer portal member.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/memberId'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    memberId:
      name: memberId
      in: path
      required: true
      description: Member unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 20
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to include in the response
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    Member:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the member
        username:
          type: string
          description: Portal username
        email:
          type: string
          format: email
          description: Member email address
        displayName:
          type: string
          description: Display name
        company:
          type: string
          description: Company name
        registrationDate:
          type: string
          format: date-time
          description: When the member registered
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mashery.com/v3/token
          scopes: {}
      description: OAuth 2.0 client credentials for Mashery API access
externalDocs:
  description: TIBCO Mashery API Documentation
  url: https://developer.mashery.com/docs
