openapi: 3.2.0
info:
  title: TIBCO Mashery API Management Reports API
  description: API management platform for designing, building, securing, and analyzing APIs. The Mashery V3 API provides programmatic access to manage API definitions, packages, plans, keys, services, endpoints, and analytics data within the TIBCO API management platform.
  version: '3.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.mashery.com/v3
  description: Mashery API v3 Production
security:
- oauth2: []
tags:
- name: Reports
  description: API usage reporting and analytics
paths:
  /rest/reports/calls:
    get:
      operationId: getCallReport
      summary: Get API call report
      description: Retrieve API call volume and performance metrics for the specified time range.
      tags:
      - Reports
      parameters:
      - name: startDate
        in: query
        required: true
        description: Report start date (ISO 8601)
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        description: Report end date (ISO 8601)
        schema:
          type: string
          format: date-time
      - name: serviceId
        in: query
        description: Filter by service ID
        schema:
          type: string
      - name: endpointId
        in: query
        description: Filter by endpoint ID
        schema:
          type: string
      responses:
        '200':
          description: Call report data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    CallReport:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        totalCalls:
          type: integer
          description: Total API call count
        successfulCalls:
          type: integer
          description: Number of successful calls
        blockedCalls:
          type: integer
          description: Number of blocked calls
        otherCalls:
          type: integer
          description: Number of other calls
        averageResponseTime:
          type: number
          format: double
          description: Average response time in milliseconds
        callsByEndpoint:
          type: array
          items:
            type: object
            properties:
              endpointId:
                type: string
              endpointName:
                type: string
              totalCalls:
                type: integer
              averageResponseTime:
                type: number
                format: double
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.mashery.com/v3/token
          scopes: {}
      description: OAuth 2.0 client credentials for Mashery API access
externalDocs:
  description: TIBCO Mashery API Documentation
  url: https://developer.mashery.com/docs
