openapi: 3.2.0
info:
  title: TIBCO Cloud Integration Flows API
  description: API for TIBCO Cloud Integration (TCI) platform enabling application integration, API management, and business process automation. Provides programmatic access to manage Flogo apps, Business Studio apps, connections, and deployment environments.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (US)
- url: https://eu.integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (EU)
security:
- bearerAuth: []
tags:
- name: Flows
  description: Manage Flogo flows and activities
paths:
  /apps/{appId}/flows:
    get:
      operationId: listFlows
      summary: List flows in an app
      description: Retrieve all flows defined within an integration application.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/appId'
      responses:
        '200':
          description: List of flows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    appId:
      name: appId
      in: path
      required: true
      description: Integration app unique identifier
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  schemas:
    Flow:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the flow
        name:
          type: string
          description: Flow name
        description:
          type: string
          description: Flow description
        type:
          type: string
          description: Flow trigger type
        activities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
          description: Activities in the flow
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from TIBCO Cloud authentication
externalDocs:
  description: TIBCO Cloud Integration Documentation
  url: https://integration.cloud.tibco.com/docs/
