openapi: 3.2.0
info:
  title: TIBCO BusinessEvents Rules API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Rules
  description: Manage business rules and rule sets
paths:
  /rules:
    get:
      operationId: listRules
      summary: List business rules
      description: Retrieve all business rules defined in the project.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of business rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createRule
      summary: Create a business rule
      description: Create a new business rule in the project.
      tags:
      - Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleRequest'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /rules/{ruleId}:
    get:
      operationId: getRule
      summary: Get a business rule
      description: Retrieve details of a specific business rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateRule
      summary: Update a business rule
      description: Update an existing business rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleRequest'
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRule
      summary: Delete a business rule
      description: Delete a business rule from the project.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '204':
          description: Rule deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body or parameters are invalid
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    ruleId:
      name: ruleId
      in: path
      required: true
      description: Rule unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  schemas:
    Rule:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the rule
        name:
          type: string
          description: Rule name
        description:
          type: string
          description: Rule description
        priority:
          type: integer
          description: Rule execution priority
        condition:
          type: string
          description: Rule condition expression
        action:
          type: string
          description: Rule action expression
        enabled:
          type: boolean
          description: Whether the rule is enabled
        ruleSetId:
          type: string
          description: Parent rule set identifier
        createdTime:
          type: string
          format: date-time
        modifiedTime:
          type: string
          format: date-time
    CreateRuleRequest:
      type: object
      required:
      - name
      - condition
      - action
      properties:
        name:
          type: string
          description: Rule name
          minLength: 1
        description:
          type: string
        priority:
          type: integer
          default: 5
        condition:
          type: string
          description: Rule condition expression
        action:
          type: string
          description: Rule action expression
        enabled:
          type: boolean
          default: true
        ruleSetId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
