openapi: 3.1.0
info:
  title: TIBCO BusinessEvents Agents Decision Tables API
  description: Complex event processing and decision management API for real-time business operations. Provides programmatic access to manage rules, decision tables, events, agents, and inference sessions within TIBCO BusinessEvents.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://api.tibco.com/businessevents/v1
  description: TIBCO BusinessEvents Production
security:
- bearerAuth: []
tags:
- name: Decision Tables
  description: Manage decision tables for rule evaluation
paths:
  /decision-tables:
    get:
      operationId: listDecisionTables
      summary: List decision tables
      description: Retrieve all decision tables in the project.
      tags:
      - Decision Tables
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of decision tables
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DecisionTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDecisionTable
      summary: Create a decision table
      description: Create a new decision table in the project.
      tags:
      - Decision Tables
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDecisionTableRequest'
      responses:
        '201':
          description: Decision table created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /decision-tables/{tableId}:
    get:
      operationId: getDecisionTable
      summary: Get a decision table
      description: Retrieve details of a specific decision table.
      tags:
      - Decision Tables
      parameters:
      - $ref: '#/components/parameters/tableId'
      responses:
        '200':
          description: Decision table details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDecisionTable
      summary: Update a decision table
      description: Update an existing decision table.
      tags:
      - Decision Tables
      parameters:
      - $ref: '#/components/parameters/tableId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDecisionTableRequest'
      responses:
        '200':
          description: Decision table updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDecisionTable
      summary: Delete a decision table
      description: Delete a decision table from the project.
      tags:
      - Decision Tables
      parameters:
      - $ref: '#/components/parameters/tableId'
      responses:
        '204':
          description: Decision table deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CreateDecisionTableRequest:
      type: object
      required:
      - name
      - columns
      properties:
        name:
          type: string
        description:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/DecisionTableColumn'
        rows:
          type: array
          items:
            $ref: '#/components/schemas/DecisionTableRow'
    DecisionTableColumn:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - condition
          - action
        dataType:
          type: string
          enum:
          - string
          - integer
          - double
          - boolean
          - datetime
    DecisionTableRow:
      type: object
      properties:
        id:
          type: string
        values:
          type: array
          items:
            type: string
          description: Cell values in column order
        enabled:
          type: boolean
    DecisionTable:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the decision table
        name:
          type: string
          description: Decision table name
        description:
          type: string
          description: Decision table description
        columns:
          type: array
          items:
            $ref: '#/components/schemas/DecisionTableColumn'
          description: Table columns (conditions and actions)
        rows:
          type: array
          items:
            $ref: '#/components/schemas/DecisionTableRow'
          description: Table rows (rules)
        createdTime:
          type: string
          format: date-time
        modifiedTime:
          type: string
          format: date-time
  responses:
    NotFound:
      description: The requested resource was not found
    BadRequest:
      description: The request body or parameters are invalid
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    tableId:
      name: tableId
      in: path
      required: true
      description: Decision table unique identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for TIBCO BusinessEvents API access
externalDocs:
  description: TIBCO BusinessEvents Documentation
  url: https://docs.tibco.com/products/tibco-businessevents
