openapi: 3.2.0
info:
  title: TIBCO Cloud Integration Environments API
  description: API for TIBCO Cloud Integration (TCI) platform enabling application integration, API management, and business process automation. Provides programmatic access to manage Flogo apps, Business Studio apps, connections, and deployment environments.
  version: '1.0'
  contact:
    name: TIBCO Support
    url: https://support.tibco.com
  termsOfService: https://www.tibco.com/legal/terms-of-use
servers:
- url: https://integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (US)
- url: https://eu.integration.cloud.tibco.com/api/v1
  description: TIBCO Cloud Integration Production (EU)
security:
- bearerAuth: []
tags:
- name: Environments
  description: Manage deployment environments
paths:
  /environments:
    get:
      operationId: listEnvironments
      summary: List environments
      description: Retrieve all deployment environments configured for the organization.
      tags:
      - Environments
      responses:
        '200':
          description: List of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /environments/{environmentId}:
    get:
      operationId: getEnvironment
      summary: Get an environment
      description: Retrieve details of a specific deployment environment.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found
    Unauthorized:
      description: Authentication credentials are missing or invalid
  parameters:
    environmentId:
      name: environmentId
      in: path
      required: true
      description: Environment unique identifier
      schema:
        type: string
  schemas:
    Environment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the environment
        name:
          type: string
          description: Environment name
        type:
          type: string
          enum:
          - dev
          - test
          - staging
          - production
          description: Environment type
        region:
          type: string
          description: Cloud region for the environment
        status:
          type: string
          enum:
          - active
          - inactive
          description: Environment status
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from TIBCO Cloud authentication
externalDocs:
  description: TIBCO Cloud Integration Documentation
  url: https://integration.cloud.tibco.com/docs/
